*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('/img/form.jpg');
    background-size: cover;
} 
.form-cont{
width: 50%;
height: 500px;
background-color:blueviolet;
opacity: 0.8;
top: 50%;
left: 50%;
position: absolute;
/* background: transparent orange; */
transform: translate(-50%,-50%);
box-sizing: border-box;
padding: 70px 30px;
border-radius: 20px;
box-shadow: 4px 0px 4px 3px whitesmoke;
}
.bike{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 45%;
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: white;

}
.form-cont p{
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.form-cont input{
    width: 100%;
    margin: bottom 20px; ;
}
.form-cont input[type ="text"], input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background:transparent;
    outline:none;
    height: 48px;
    color:white;
    font-size: 16px;
}
.form-cont input[type="submit"]{
    border:none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 20px;
}
.form-cont input[type="submit"]:hover{
    cursor: pointer;
    background: gainsboro;
    color: #000;
}
.form-cont a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.form-cont a:hover{
    color: #ffc107;
}
